<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.sriramph.mirrormirror.tv.links</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mirrormirror</string>
			</array>
		</dict>
	</array>
	<key>MMKeychainGroup</key>
	<string>$(AppIdentifierPrefix)com.sriramph.mirrormirror.shared</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_mirror-mirror._tcp</string>
		<string>_mirror-pair._tcp</string>
	</array>
</dict>
</plist>
